* {
  box-sizing: border-box;
}

.App {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

@media (max-width: 420px) {
  .App {
    flex-direction: column;
  }
}